#Azul{
    background-color: rgba(0, 89, 255, 0.781);
}
#Rosa{
    background-color: rgba(255, 192, 203, 0.747);
}
#Amarillo{
    background-color: rgba(255, 255, 0, 0.76);
}
#Verde{
    background-color: rgba(0, 167, 0, 0.767);
}
#Marron{
    background-color: rgba(175, 107, 51, 0.856);
}
#Naranja{
    background-color: rgba(255, 166, 0, 0.651);
}
#Rojo{
    background-color: rgba(255, 0, 0, 0.637);
}
#Negro{
    background-color: rgba(0, 0, 0, 0.842);
}