#legend1{
    text-decoration-line: underline;
}
#legend2{
    text-decoration-line: underline;
}
#legend3{
    text-decoration-line: underline;
}
#legend4{
    text-decoration-line: underline;
}
#legend5{
    text-decoration-line: underline;
}
#legend6{
    text-decoration-line: underline;
}
#legend7{
    text-decoration-line: underline;
}
#borde1{
    background-color: blueviolet;
}
body{
    margin-right: 650px;
    margin-left: 650px;
}